<div class="panel panel-default" ng-show="!reservationVm.showHistory()">
    <div class="panel-heading">
        <h3>
            Future reservations:
        </h3>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name of lodging</th>
            <th>Place</th>
            <th>Start date:</th>
            <th>End date:</th>
            <th>Cancel</th>
        </tr>
        </thead>
        <tbody ng-repeat="reservation in reservationVm.list">
        <th>
            {{reservation.lodging.name}}
        </th>
        <th>{{reservation.lodging.location}}</th>

        <th>{{reservation.startDate| date:shortDate}}</th>
        <th>{{reservation.endDate| date:shortDate}}</th>

        <th>
            <button type="button" class="btn btn-link" ng-click="reservationVm.cancelReservation(reservation.id)">
                Cancel reservation
            </button>
        </th>
        </tbody>
    </table>
</div>
<div class="panel panel-default" ng-show="reservationVm.showHistory()">
    <div class="panel-heading">
        <h3>
            Past reservations:
        </h3>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name of lodging</th>
            <th>Place</th>
            <th>Start date:</th>
            <th>End date:</th>
            <th>Add rating</th>
        </tr>
        </thead>
        <tbody ng-repeat="reservation in reservationVm.list">
        <th>
            {{reservation.lodging.name}}
        </th>
        <th>{{reservation.lodging.location}}</th>

        <th>{{reservation.startDate| date:shortDate}}</th>
        <th>{{reservation.endDate| date:shortDate}}</th>

        <th>
            <button type="button" class="btn btn-link" ng-click="reservationVm.rating(reservation.id)"> Add rating!
            </button>
        </th>
        </tbody>
    </table>
</div>