<div class="flex-column float-right pre-scrollable panel row-md-7" >
	<a ng-repeat="msg in $ctrl.messages" ng-click="$ctrl.displayMessage($index)">{{msg.receiver.email}}</a>
</div>

<div ng-if="$ctrl.message" class="flex-column col-md-6">
	<div class="card text-center bg-secondary">
		<div class="card-body">
			{{$ctrl.message.receiver.email}}
			<button class="btn btn-custom" ng-click="$ctrl.refresh()"><i class="fa fa-sync"></i></button>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>Start date</th>
					<th>End date</th>
				</tr>
				<tr>
					<td>{{$ctrl.message.reservation.lodging.name}}</td>
					<td>{{$ctrl.message.reservation.lodging.location}}</td>
					<td><input class="form-control form-group" type="date" ng-model="$ctrl.startDate" readonly/></td>
					<td><input class="form-control form-group" type="date" ng-model="$ctrl.endDate" readonly/></td>
				</tr>
			</table>
		</div>
	</div>
	
	
	<div class="card">
		<div class="card-body">
			{{$ctrl.message.content}}
		</div>
	</div>
	
	<div class="card" ng-repeat="msg in $ctrl.message.messages" ng-class="{'bg-secondary': $root.user.id != msg.sender.id}">
		<div class="card-body">
			{{msg.content}}
		</div>
	</div>
	
	
	<div class="card ">
		<div class="card-body">
			<form name="message">
				<textarea placeholder="Message" class="form-group form-control" rows="3" ng-model="$ctrl.toSend" required></textarea>
				<input type="submit" class="btn btn-custom" value="Send" ng-click="message.$valid && $ctrl.send()"/>
			</form>
		</div>
		<p>
			{{$ctrl.status}}
		</p>
	</div>
</div>